//  blue: {
//     100: "#d2e6e6",
//     200: "#a6cccc",
//     300: "#79b3b3",
//     400: "#4d9999",
//     500: "#208080",
//     600: "#1a6666",
//     700: "#134d4d",
//     800: "#0d3333",
//     900: "#061a1a"
// },
// black: {
//     100: "#ccebf5",
//     200: "#99d6eb",
//     300: "#66c2e0",
//     400: "#33add6",
//     500: "#0099cc",
//     600: "#007aa3",
//     700: "#005c7a",
//     800: "#003d52",
//     900: "#001f29"
// },





$fcolor :#66c2e0;
$scolor :#4d9999;
$titleColor : #203040;
$subtitleColor : #f0c000;


